[General]
Enabled = true
TextureDirectory = Textures
LoadDelaySeconds = 8
ReloadHotkey = F8

[Matching]
CaseInsensitiveNames = true

[Logging]
LogEachReplacement = false

[Performance]
GenerateMipMaps = true
MaterialsPerFrame = 25

[Rendering]
RepackNormalMaps = false
ReplaceTerrainMaterials = false
